.ona-body {
  background-color: #E7EDF7;
}

.ona-table{   
	border-collapse:collapse;
	
}

.ona-header {
		text-align:center;
}

/** tabs **/
.ona-tabs {
   width: 10%;
}
/** panels **/
.ona-tabstabs-panels {
   width: 90%;
}

.ona-outputlabel{
color: #E7EDF7;
}   

.ona-table-header{
	text-align:center;
	font-size: 12px
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.ona-table-odd-row{
	text-align:center;
	font-size: 12px
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.ona-table-even-row{
	text-align:center;
	font-size: 12px
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}